.articulo{

    background-color: lightblue;
}

.encabezado{
    background-color: blue;
    border: 2px solid white;
    border-radius: 20px 10px;
    text-align: center;
}

.encabezado:hover{
    background-color: rgb(155,100, 70, 0.7);
}


.contenido{
    color: black;
    text-align: justify;
}

.contenido p{
    margin-left: 10%;
    width: 80%;
}

body{
    color: white;
}